/*
 * necessary tags
================================================================================ */
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body
{
  overflow-x: hidden;
  height: 100%;
  background-color: #f9f9f9;
}

/*
 * Comforta
================================================================================ */
@font-face {
  font-family: "comforta-regular";
  src: url("assets/comforta/Comfortaa-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "comforta-bold";
  src: url("assets/comforta/Comfortaa-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "comforta-medium";
  src: url("assets/comforta/Comfortaa-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "comforta-light";
  src: url("assets/comforta/Comfortaa-Light.ttf");
  font-style: normal;
  font-weight: normal;
}

/*
 * Montserrat
================================================================================ */
@font-face {
  font-family: "montserrat-regular";
  src: url("assets/montserrat/montserrat-regular-webfont.woff2") format("woff2"), 
       url("assets/montserrat/montserrat-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "montserrat-bold";
  src: url("assets/montserrat/montserrat-bold-webfont.woff2") format("woff2"), 
       url("assets/montserrat/montserrat-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

/*
 * Nasalization
================================================================================ */
@font-face {
  font-family: "nasal";
  src: url("assets/nasalization-rg.ttf");
  font-style: normal;
  font-weight: normal;
}

/*
 * space and divisions
================================================================================ */
.spacer
{
  height: 20px;
}
.divider
{
  width: 50%;
  height: 28px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}
.divider-2
{
  width: 50%;
  height: 28px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 32px;
}
.separator-right
{
  background-color: black;
  height: 100%;
  width: 42%;
  float: left;
  display: block;
  clip-path: polygon(10% 30%, 100% 50%, 10% 70%, 0% 50%);
}
.separator-left
{
  background-color: black;
  height: 100%;
  width: 42%;
  float: left;
  display: block;
  clip-path: polygon(90% 70%, 100% 50%, 90% 30%, 0% 50%);
}
.diamond-container
{
  padding-top: 4px;
  margin: auto;
  display: block;
  float: left;
  width: 6%;
  height: 28px;
}
.diamond 
{
  background-color: black;
  margin: auto;
  z-index: 20;
  height: 18px;
  width: 18px;
  transform: rotate(45deg);
}
.circle-container
{
  padding-top: 8px;
  display: block;
  float: left;
  width: 4%;
  height: 100%;
}
.circle
{
  width: 12px;
  height: 12px;
  margin: auto;
  background-color: black;
  clip-path: circle(50% at 50% 50%);
}

/*
 * layout
================================================================================ */
.top 
{
  background-image: url("assets/theatre-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 86%;
  border: 1px solid black;
}
.bottom
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  border: 1px solid black;
}
.row
{
  width: 100%;
}
.col-1
{
  width: 100%;
  margin: auto;
  text-align: center;
}

/*
 * about section
================================================================================ */
.about
{
  display: auto;
}
.about p
{
  color: black;
  font-size: 20px;
  font-family: "comforta-bold";
}
.about h1
{
  line-height: 0px;
  margin-top: -30px;
  margin-bottom: 24px;
  color: black;
  font-family: "montserrat-regular";
}

/*
 * SING! text
================================================================================ */
.sing
{
  padding-top: 120px;
  font-family: "montserrat-bold", sans-serif;
  font-size: 82px;
  color: #f9f9f9;
  line-height: 3.6rem;
}
.twentytwenty
{
  font-family: "montserrat-bold", sans-serif;
  font-size: 42px;
  color: #f9f9f9;
}

/*
 * crews
================================================================================ */
.crews
{
  padding-top: 0px;
}
.crews h1
{
  color: black;
  font-family: "montserrat-regular";
}
.crews p
{
  color: black;
  font-size: 20px;
  font-family: "montserrat-regular";
  padding-bottom: 10px;
}
.crew-button
{
  text-align: center;
  font-family: "comforta-medium";
  width: 84px;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  color: #f9f9f9;
  background-color: black;
  transition: all .25s ease-in-out;
}
.crew-button:hover
{
  text-align: center;
  font-family: "comforta-medium";
  width: 84px;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  color: #ecc03d;
  background-color: black;
}
.crew-sheet-music-container
{
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  position: relative;
  width: 90%;
  height: 460px;
  margin: auto;
  margin-bottom: 36px;
  background-color: #f9f9f9;
}

/*
 * trailer
================================================================================ */
.trailer-button
{
  cursor: pointer;
  border: none;
  padding-top: 1px;
  display: inline-block;
  font-family: "montserrat-regular";
  height: 32px;
  width: 86px;
  background-color: #f9f9f9;
  color: black;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  border-radius: 6px;
  transition: all .25s ease-in-out;
}
.trailer-button:hover
{
  cursor: pointer;
  border: none;
  padding-top: 1px;
  display: inline-block;
  font-family: "montserrat-regular";
  height: 32px;
  width: 86px;
  background-color: #f9f9f9;
  color: #ecc03d;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  border-radius: 6px;
}
.trailer 
{
  display: auto;
}
.trailer p
{
  color: black;
  font-size: 20px;
  font-family: "montserrat-regular";
  padding-bottom: 10px;
}
.trailer h1
{
  color: black; 
  font-family: "montserrat-regular";
}
.trailer-container
{
  padding-top: 20px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 6px;
  width: 90%;
  height: 420px;
  color: black;
  background-color: #f9f9f9;
}

/*
 * music icons
================================================================================ */
.treble
{
  top: 0px;
  position: absolute;
  left: 3%;
  height: 120px;
  width: 120px;
}
.sharp
{
  display: none;
}

/*
 * header
================================================================================ */
.vertical-line-1
{
  top: 16px;
  position: absolute;
  right: 16px;
  height: 80px;
  width: 6px;
  background-color: black;
}
.vertical-line-2
{
  top: 16px;
  position: absolute;
  right: 28px;
  height: 80px;
  width: 2px;
  background-color: black;
}
.vertical-line-3
{
  top: 16px;
  position: absolute;
  left: 14px;
  height: 80px;
  width: 2px;
  background-color: black;
}
.top .sheet-music-button
{
  height: 20px;
  cursor: pointer;
  font-family: "montserrat-regular", sans-serif;
  font-size: 18px;
  display: block;
  float: left;
  width: 15%;
  border: none;
  background-color: #f9f9f9;
  transition: all .25s ease-in-out;
}
.top .sheet-music-button:hover
{
  height: 20px;
  cursor: pointer;
  font-family: "montserrat-regular", sans-serif;
  font-size: 18px;
  display: block;
  float: left;
  width: 15%;
  border: none;
  color: #ecc03d;
  background-color: #f9f9f9;
}
.top .sheet-music-container
{
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  position: relative;
  width: 75%;
  height: 112px;
  margin: auto;
  margin-top: 15px;
  background-color: #f9f9f9;
}
.sheet-music-line-long
{

  width: 100%;
  height:3px;
  background-color: black;
  margin: auto;
  margin-bottom: 12px;
  margin-top: 12px ;
}
.sheet-music-line-short
{
  width: 20%;
  height: 2px;
  background-color: black;
  margin: auto;
  margin-bottom: 7px;
  margin-top: 7px ;
}
.top .sheet-music-line-long
{
  float: left;
  display: block;
  z-index: 2;
  width: 100%;
  height:3px;
  background-color: black;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 8px ;
}
.top .sheet-music-line-short
{
  float: left;
  display: block;
  z-index: 2;
  width: 20%;
  height: 3px;
  background-color: black;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 8px ;
}

/*
 * layout
================================================================================ */
.diagonal 
{
  z-index: 1;
  padding: 3em;
  padding-top: 0px;
  padding-left: 1em;
  padding-right: 1em;
}
.slant 
{
  position: relative;
  background: #ecc03d;
  color: #fff;
  text-align: center;
}
.slant:before 
{
  position: absolute;
  content:'';
}
.slant.diagonal 
{
  background: #ecc03d;
}
.diagonal:before 
{
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 0% 0%;
  top: 0;
  left: -0%;
  z-index: -1;
  width: 100%;
  height: 75%;
  background: inherit;
}
/*-*/
.first-diagonal 
{
  z-index: 1;
  padding: 3em;
  padding-bottom: 32px;
  padding-left: 1em;
  padding-right: 1em;
}
.first-slant 
{
  position: relative;
  background: #ecc03d;
  color: #fff;
  text-align: center;
}
.first-slant:before 
{
  position: absolute;
  content:'';
}
.first-slant.first-diagonal 
{
  display: auto;
}
.first-diagonal:before 
{
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 0% 0%;
  top: 0;
  left: -10%;
  z-index: -1;
  width: 120%;
  height: 75%;
  background-image: url(assets/overlay.png);
  background-position: center 70%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
/*=*/
.other-diagonal 
{
  z-index: 1;
  padding: 1em;
}
.other-slant 
{
  position: relative;
  background: #ecc03d;
  color: #fff;
  text-align: center;
}
.other-slant:before 
{
  position: absolute;
  content:'';
}
.other-slant.other-diagonal 
{
  background: #ecc03d;
}
.other-diagonal:before
{
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  top: 0;
  right: 0%;
  z-index: -1;
  width: 110%;
  height: 100%;
  background: inherit;
}
/*=*/
.bottom-diagonal 
{
  z-index: 1;
  padding: 3em;
}
.bottom-slant
{
  position: relative;
  background: black;
  color: #fff;
  text-align: center;
}
.bottom-slant:before 
{
  position: absolute;
  content:'';
}
.bottom-slant.bottom-diagonal 
{
  background: black;
}
.bottom-diagonal:before 
{
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 0% 0%;
  top: 0;
  left: -0%;
  z-index: -1;
  width: 100%;
  height: 75%;
  background: inherit;
}

/*
 * screen caps
================================================================================ */
.hideme
{
  opacity: 0;
}

@media only screen and (max-width: 840px)
{

  .crew-button
  {
    text-align: center;
    font-family: "comforta-medium";
    width: 84px;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    color: #f9f9f9;
    background-color: black;
    transition: all .25s ease-in-out;
  }

  .crew-button:hover
  {
    text-align: center;
    font-family: "comforta-medium";
    width: 84px;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    color: #ecc03d;
    background-color: black;
  }
}


@media only screen and (max-width: 720px) 
{

  .crew-sheet-music-container
  {
    padding: 8px 8px 8px 8px;
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: 460px;
    margin: auto;
    margin-bottom: 36px;
    background-color: #f9f9f9;
  }

  .trailer-container
  {
    padding-top: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 6px;
    width: 100%;
    height: 420px;
    color: black;
    background-color: #f9f9f9;
  }

  .treble
  {
    top: 0px;
    position: absolute;
    left: -2.5%;
    height: 120px;
    width: 120px;
  }

  .top .sheet-music-line-short
  {
    float: left;
    display: block;
    z-index: 2;
    width: 12.5%;
    height: 3px;
    background-color: black;
    margin: auto;
    margin-bottom: 8px;
    margin-top: 8px ;
  }

  .top .sheet-music-button
  {
    height: 20px;
    cursor: pointer;
    font-family: "montserrat-regular", sans-serif;
    font-size: 18px;
    display: block;
    float: left;
    width: 18.75%;
    border: none;
    background-color: #f9f9f9;
    transition: all .25s ease-in-out;
  }

  .top .sheet-music-button:hover
  {
    height: 20px;
    cursor: pointer;
    font-family: "montserrat-regular", sans-serif;
    font-size: 18px;
    display: block;
    float: left;
    width: 18.75%;
    border: none;
    color: #ecc03d;
    background-color: #f9f9f9;
  }

  .top .sheet-music-container
  {
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: 112px;
    margin: auto;
    margin-top: 15px;
    background-color: #f9f9f9;
  }
}

/* pretty small phones */
@media only screen and (max-width: 500px) 
{
  .treble
  {
    top: 0px;
    position: absolute;
    left: -7.4%;
    height: 120px;
    width: 120px;
  }

  .top .sheet-music-button
  {
    height: 20px;
    cursor: pointer;
    font-family: "montserrat-regular", sans-serif;
    font-size: 12px;
    display: block;
    float: left;
    width: 18.75%;
    border: none;
    background-color: #f9f9f9;
    transition: all .25s ease-in-out;
  }

  .top .sheet-music-button:hover
  {
    height: 20px;
    cursor: pointer;
    font-family: "montserrat-regular", sans-serif;
    font-size: 12px;
    display: block;
    float: left;
    width: 18.75%;
    border: none;
    color: #ecc03d;
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width: 450px)
{
  .divider
  {
    width: 100%;
    height: 28px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

/* iphone 5 type optimization */
@media only screen and (max-width: 370px) 
{
  .treble
  {
    display: none;
  }

  .sharp
  {
    display: block;
    top: 31px;
    position: absolute;
    left: 3.2%;
    height: 50px;
    width: 50px;
  }

  .top .sheet-music-button
  {
    height: 20px;
    cursor: pointer;
    font-family: "montserrat-regular", sans-serif;
    font-size: 10px;
    display: block;
    float: left;
    width: 18.75%;
    border: none;
    background-color: #f9f9f9;
    transition: all .25s ease-in-out;
    z-index: 5;
  }

  .top .sheet-music-button:hover
  {
    height: 20px;
    cursor: pointer;
    font-family: "montserrat-regular", sans-serif;
    font-size: 10px;
    display: block;
    float: left;
    width: 18.75%;
    border: none;
    color: #ecc03d;
    background-color: #f9f9f9;
    z-index: 5;
  }

}
