* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*when doing dropdown, make each entry its own line, with the thing like how it is already */
html, body/*make sure to add stuff when you do crew pages and shit, this is what removes overflowing */
{
  overflow-x: hidden;
}

/*
 * Comforta
================================================================================ */
@font-face {
  font-family: "comforta-regular";
  src: url("assets/comforta/Comfortaa-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "comforta-bold";
  src: url("assets/comforta/Comfortaa-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "comforta-medium";
  src: url("assets/comforta/Comfortaa-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "comforta-light";
  src: url("assets/comforta/Comfortaa-Light.ttf");
  font-style: normal;
  font-weight: normal;
}

/*
 * Montserrat
================================================================================ */
@font-face {
  font-family: "montserrat-regular";
  src: url("assets/montserrat/montserrat-regular-webfont.woff2") format("woff2"), 
       url("assets/montserrat/montserrat-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "montserrat-bold";
  src: url("assets/montserrat/montserrat-bold-webfont.woff2") format("woff2"), 
       url("assets/montserrat/montserrat-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

/*
 * Nasalization
================================================================================ */
@font-face {
  font-family: "nasal";
  src: url("assets/nasalization-rg.ttf");
  font-style: normal;
  font-weight: normal;
}

html, body 
{
  height: 100%;
  background-color: #f9f9f9;
}

.top 
{
  background-image: url("assets/theatre-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 86%;
  border: 1px solid black;
}

.about p
{
  color: #f9f9f9;
  font-size: 20px;
  font-family: "comforta-bold";
}

.about h1
{
  line-height: 0px;
  margin-top: -30px;
  margin-bottom: 24px;
  color: #f9f9f9;
  font-family: "montserrat-regular";
}

.bottom
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  border: 1px solid black;
}

.row
{
  width: 100%;
}

.col-1
{
  width: 100%;
  margin: auto;
  text-align: center;
}

.sing
{
  padding-top: 120px;
  font-family: "montserrat-bold", sans-serif;
  font-size: 82px;
  color: #f9f9f9;
  line-height: 3.6rem;
}

.twentytwenty
{
  font-family: "montserrat-bold", sans-serif;
  font-size: 42px;
  color: #f9f9f9;
}

.crews
{
  padding-top: 52px;
}

.crews h1
{
  color: #f9f9f9;
  font-family: "montserrat-regular";
}

.crews p
{
  color: #f9f9f9;
  font-size: 20px;
  font-family: "montserrat-regular";
  padding-bottom: 10px;
}

.crew-button
{
  text-align: center;
  font-family: "comforta-medium";
  width: 84px;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  color: #f9f9f9;
  background-color: black;
  transition: all .25s ease-in-out;
}

.crew-button:hover
{
  text-align: center;
  font-family: "comforta-medium";
  width: 84px;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  color: #ecc03d;
  background-color: black;
}

.crew-sheet-music-container
{
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  position: relative;
  width: 90%;
  height: 460px;
  margin: auto;
  margin-bottom: 36px;
  background-color: #f9f9f9;
}

.trailer-button
{
  cursor: pointer;
  border: none;
  padding-top: 1px;
  display: inline-block;
  font-family: "montserrat-regular";
  height: 32px;
  width: 86px;
  background-color: #f9f9f9;
  color: black;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  border-radius: 6px;
  transition: all .25s ease-in-out;
}

.trailer-button:hover
{
  cursor: pointer;
  border: none;
  padding-top: 1px;
  display: inline-block;
  font-family: "montserrat-regular";
  height: 32px;
  width: 86px;
  background-color: #f9f9f9;
  color: #ecc03d;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  border-radius: 6px;
}

.trailer 
{
  padding-top: 52px;
}

.trailer p
{
  color: #f9f9f9;
  font-size: 20px;
  font-family: "montserrat-regular";
  padding-bottom: 10px;
}

.trailer h1
{
  font-family: "montserrat-regular";
}

.trailer-container
{
  padding-top: 20px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 6px;
  width: 90%;
  height: 420px;
  color: black;
  background-color: #f9f9f9;
}

/* header */
.treble
{
  top: 0px;
  position: absolute;
  left: 3%;
  height: 120px;
  width: 120px;
}

.sharp
{
  display: none;
}

.vertical-line-1
{
  top: 16px;
  position: absolute;
  right: 16px;
  height: 80px;
  width: 6px;
  background-color: black;
}

.vertical-line-2
{
  top: 16px;
  position: absolute;
  right: 28px;
  height: 80px;
  width: 2px;
  background-color: black;
}

.vertical-line-3
{
  top: 16px;
  position: absolute;
  left: 14px;
  height: 80px;
  width: 2px;
  background-color: black;
}

.top .sheet-music-button
{
  height: 20px;
  cursor: pointer;
  font-family: "montserrat-regular", sans-serif;
  font-size: 18px;
  display: block;
  float: left;
  width: 15%;
  border: none;
  background-color: #f9f9f9;
  transition: all .25s ease-in-out;
}

.top .sheet-music-button:hover
{
  height: 20px;
  cursor: pointer;
  font-family: "montserrat-regular", sans-serif;
  font-size: 18px;
  display: block;
  float: left;
  width: 15%;
  border: none;
  color: #ecc03d;
  background-color: #f9f9f9;
}

.top .sheet-music-container
{
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  position: relative;
  width: 75%;
  height: 112px;
  margin: auto;
  margin-top: 15px;
  background-color: #f9f9f9;
}

.spacer
{
  height: 20px;
}

.sheet-music-line-long
{

  width: 100%;
  height:3px;
  background-color: black;
  margin: auto;
  margin-bottom: 12px;
  margin-top: 12px ;
}

.sheet-music-line-short
{
  width: 20%;
  height: 2px;
  background-color: black;
  margin: auto;
  margin-bottom: 7px;
  margin-top: 7px ;
}

.top .sheet-music-line-long
{
  float: left;
  display: block;
  z-index: 2;
  width: 100%;
  height:3px;
  background-color: black;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 8px ;
}

.top .sheet-music-line-short
{
  float: left;
  display: block;
  z-index: 2;
  width: 20%;
  height: 3px;
  background-color: black;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 8px ;
}

/* slant */
.diagonal {
  z-index: 1;
  padding: 3em;
}
.slant {
  position: relative;
  background: #ecc03d;
  color: #fff;
  text-align: center;
}
.slant:before {
  position: absolute;
  content:'';
}
.slant.diagonal {
  background: #ecc03d;
}
.diagonal:before {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 0% 0%;
  top: 0;
  left: -0%;
  z-index: -1;
  width: 100%;
  height: 75%;
  background: inherit;
}

/* slant */
.first-diagonal {
  z-index: 1;
  padding: 3em;
}
.first-slant {
  position: relative;
  background: #ecc03d;
  color: #fff;
  text-align: center;
}
.first-slant:before {
  position: absolute;
  content:'';
}
.first-slant.first-diagonal {

}
.first-diagonal:before {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 0% 0%;
  top: 0;
  left: -10%;
  z-index: -1;
  width: 120%;
  height: 75%;
  background-image: url(assets/overlay.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}


/*-------------------------*/
.other-diagonal {
  z-index: 1;
  padding: 1em;
}
.other-slant {
  position: relative;
  background: #ecc03d;
  color: #fff;
  text-align: center;
  
}
.other-slant:before {
  position: absolute;
  content:'';
}
.other-slant.other-diagonal {
  background: #ecc03d;
}
.other-diagonal:before
{
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  top: 0;
  right: 0%;
  z-index: -1;
  width: 110%;
  height: 100%;
  background: inherit;
}

.slant-2 
{
  position: relative;
  background: black;
  color: #fff;
  text-align: center;
}
.slant-2:before {
  position: absolute;
  content:'';
}
.slant-2.diagonal {
  background: black;
}

.hideme
{
  opacity: 0;
}

@media only screen and (max-width: 840px)
{
  .crew-button
  {
    text-align: center;
    font-family: "comforta-medium";
    width: 84px;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    color: #f9f9f9;
    background-color: black;
    transition: all .25s ease-in-out;
  }

  .crew-button:hover
  {
    text-align: center;
    font-family: "comforta-medium";
    width: 84px;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    color: #ecc03d;
    background-color: black;
  }
}


@media only screen and (max-width: 720px) 
{

  .crew-sheet-music-container
  {
    padding: 8px 8px 8px 8px;
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: 460px;
    margin: auto;
    margin-bottom: 36px;
    background-color: #f9f9f9;
  }

  .trailer-container
  {
    padding-top: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 6px;
    width: 100%;
    height: 420px;
    color: black;
    background-color: #f9f9f9;
  }

  .treble
  {
    top: 0px;
    position: absolute;
    left: -2.5%;
    height: 120px;
    width: 120px;
  }

  .top .sheet-music-line-short
  {
    float: left;
    display: block;
    z-index: 2;
    width: 12.5%;
    height: 3px;
    background-color: black;
    margin: auto;
    margin-bottom: 8px;
    margin-top: 8px ;
  }

  .top .sheet-music-button
  {
    height: 20px;
    cursor: pointer;
    font-family: "montserrat-regular", sans-serif;
    font-size: 18px;
    display: block;
    float: left;
    width: 18.75%;
    border: none;
    background-color: #f9f9f9;
    transition: all .25s ease-in-out;
  }

  .top .sheet-music-button:hover
  {
    height: 20px;
    cursor: pointer;
    font-family: "montserrat-regular", sans-serif;
    font-size: 18px;
    display: block;
    float: left;
    width: 18.75%;
    border: none;
    color: #ecc03d;
    background-color: #f9f9f9;
  }

  .top .sheet-music-container
  {
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: 112px;
    margin: auto;
    margin-top: 15px;
    background-color: #f9f9f9;
  }
}

/* pretty small phones */
@media only screen and (max-width: 500px) 
{
  .treble
  {
    top: 0px;
    position: absolute;
    left: -7.4%;
    height: 120px;
    width: 120px;
  }

  .top .sheet-music-button
  {
    height: 20px;
    cursor: pointer;
    font-family: "montserrat-regular", sans-serif;
    font-size: 12px;
    display: block;
    float: left;
    width: 18.75%;
    border: none;
    background-color: #f9f9f9;
    transition: all .25s ease-in-out;
  }

  .top .sheet-music-button:hover
  {
    height: 20px;
    cursor: pointer;
    font-family: "montserrat-regular", sans-serif;
    font-size: 12px;
    display: block;
    float: left;
    width: 18.75%;
    border: none;
    color: #ecc03d;
    background-color: #f9f9f9;
  }
}


/* iphone 5 type optimization */
@media only screen and (max-width: 370px) 
{
  .treble
  {
    display: none;
  }

  .sharp
  {
    display: block;
    top: 31px;
    position: absolute;
    left: 3.2%;
    height: 50px;
    width: 50px;
  }

  .top .sheet-music-button
  {
    height: 20px;
    cursor: pointer;
    font-family: "montserrat-regular", sans-serif;
    font-size: 10px;
    display: block;
    float: left;
    width: 18.75%;
    border: none;
    background-color: #f9f9f9;
    transition: all .25s ease-in-out;
    z-index: 5;
  }

  .top .sheet-music-button:hover
  {
    height: 20px;
    cursor: pointer;
    font-family: "montserrat-regular", sans-serif;
    font-size: 10px;
    display: block;
    float: left;
    width: 18.75%;
    border: none;
    color: #ecc03d;
    background-color: #f9f9f9;
    z-index: 5;
  }

}
